
a.arrow-button {
  /* margin: 1em auto; */
  width: 280px;
  text-align: center;
  background-color: #eee;
  padding: 0.5em 0;
  display: block;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.6);
  border-radius: 8px;
}
a.arrow-button:hover {
  color: #eee;
  background-color: #333;
}

.arrow-left:before {
  content: '\25c4';
  padding-right: 0.5em;
}

/* added */
/* 
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

/* added */

/* input field */
/* :root {
  background: #f5f6fa;
  color: #9c9c9c;
  font: 1rem "PT Sans", sans-serif;
} */

/* html,
body, */
.container_input {
  height: 100%;
  /* height: 0.1%; */
}

a {
  color: inherit;
}
a:hover {
  color: #7f8ff4;
   
}

.container_input {

  /* background: #D18B49; */
  /* background: #17181c; */
  background: linear-gradient(50deg, #f3c680, hsla(179,54%,76%,1));
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;


  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;

  /* -webkit-box-align: top;
        align-items: top;          
  -webkit-box-pack: top;
        justify-content: top; */
          
  -webkit-box-align: center;
          align-items: center;          
  -webkit-box-pack: center;
          justify-content: center;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.btn--primary {
  /* background: #7f8ff4; */
  background:#e4cb58;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 12px 36px;
}
.btn--primary:hover {
  /* background: #6c7ff2; */
  background: #dfb90f;
}
.btn--primary:active {
  /* background: #7f8ff4; */
  background: #dfb90f;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.btn--inside {
  margin-left: -96px;
}

.form__field {

  /* background: #FFFFFF; */
  background: #17181c;
  max-width: 400px;
  margin: 100px auto;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  padding: 48px;
  /* text-align: center; */
  /* border: 2px solid green; */

  width: 360px;
  /* background: #fff; */
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 2px solid #e4cb58;
  /* border: 0; */
  outline: 0;
  padding: 22px 18px;
}


/* for IE7+ */
html {
	overflow: hidden;
}
/* body {
	margin: 0;
	font-family: 'microsoft yahei';
	background-color: #9C5C1E;
} */

html, body {
	height: 100%;
}

.hidden {
	display: none;
}

.back {
	position: absolute; right: 15px; top: 15px;
	padding: 1px 5px;
	background-color: #000;
	font-size: 14px;
	text-decoration: none;
  color: #fff;
  /* color: rgb(78, 23, 23)78, 23, 23); */
	opacity: .8; filter: alpha(opacity=80);
}

.background2 {
	position: fixed; _position: absolute; width: 100%; top: 0; left: 0;
}

btn2 {
  width: 50px; height: 50px;
  /* width: 50%; height: 20%; */
  position: absolute; left: 10%; top: 20%;
  /* left: 10%; top: 50%; */
  content: '\25c4';


}

.container2 {
  /* width: 860px; height: 310px; */
  /* width: 50%; height: 50%; */
  /* position: absolute; left: 50%; top: 30%; */
	/* position: absolute; left: 50%; top: 80%; */
  /* margin: -155px 0 0 -430px; */
  height: 100%;
  /* max-height: 497px;
  min-height: 200px; */
  /* margin-top: 0;
  margin-bottom: 0; */
	/* IE9+ */
  /* background-color: rgba(128, 35, 35, 0.1)1); */
  /* background: rgba(146, 99, 10, 0.678); */
  /* background: #5e6069; */
  background: #FFFFFF;
  /* background: linear-gradient(50deg, #f3c680, hsla(179,54%,76%,1)); */
	/* IE6-IE8 */
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#17FFFFFF,endColorStr=#17FFFFFF);
}
:root .container2 {
	filter: none;
}
.inner {
  /* background: #FFFFFF; */
  background: linear-gradient(50deg, #f3c680, hsla(179,54%,76%,1));
  /* background: #484d30; */
  /* background: linear-gradient(50deg, #f3c680, hsla(179,54%,76%,1)); */
  /* background: #17181c; */
  /* background: rgba(146, 99, 10, 0.678); */
  /* max-width: 400px; */
  max-width: 80%;
  margin: 200px auto;
  /* margin: 20% auto; */
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  padding: 20px;

  border: 2px solid #e4cb58;
  /* padding: 5%; */
  /* text-align: center; */
  /* border: 2px solid #e4cb58; */

	/* padding: 10px 0 0 10px; */
	overflow: hidden; _zoom: 1;
}

.list {
  width: 160px; height: 140px;
  /* width: 10%; height: 10%; */
  float: left;
  /* float: center; */
  /* /gin: 0 10px 10px 0; */
  margin-left: 2rem;  
  margin-top: 1rem;  
  border: 1px dotted rgba(15, 15, 15, 0.678);
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  padding: 20px;
  /* margin-right: 2rem;   */

	position: relative;
	cursor: pointer;
	overflow: hidden;
}
.layer {
	position: absolute; left: 0; top: 0;
	width: 100%; height: 100%;
}
.cover {
	position: absolute; left: 0; right: 0; bottom: 0;
	width: 100%; height: 30px; line-height: 30px;
	overflow: hidden;
}
.blur {
	position: absolute;
	width: 100%; bottom: 0; left: 0;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	/* blur */
	filter: url(blur-5px.svg#blur);
	/* css3 */
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	filter: blur(5px); /* FireFox 35+ support */
	/* IE6~IE9 */
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=5, MakeShadow=false);
	*left: -5px; left: -5px\0;
}
:root .blur {
	left: -5px \0; /* Just IE9 */
}
.mask {
	position: absolute; left: 0; bottom: 0; width: 100%;
	/* IE9+ */
	background-color: rgba(0,0,0,.2);
	/* IE6-IE8 */
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#34000000,endColorStr=#34000000);
	color: #fff;
	font-size: 14px;
	text-indent: 10px;
}
:root .mask {
	filter: none;
}

/* affect */
.list img, .list svg {
	-webkit-transition: all .25s; transition: all .25s;
	vertical-align: bottom;
}
.list:hover .layer,
.list:hover .blur {
	-webkit-transform: scale(1.05) translateZ(0);
	-ms-transform: scale(1.05);
	transform: scale(1.05) translateZ(0);
	/* IE6-IE8 */
	zoom: 1.05;
}
:root .list:hover .layer,
:root .list:hover .blur {
	zoom: 1;
}


/* original */
.btn {
  padding-left: .75rem;
  padding-right: .75rem;
}

label.btn {
  margin-bottom: 0;
}

.d-flex > .btn {
  flex: 1;
}

.carbonads {  
  border-radius: .25rem;
  border: 1px solid #ccc;
  font-size: .875rem;
  overflow: hidden;
  padding: 1rem;
}

.carbon-wrap {
  overflow: hidden;
}

.carbon-img {
  clear: left;
  display: block;
  float: left;
}

.carbon-text,
.carbon-poweredby {
  display: block;
  margin-left: 140px;
}

.carbon-text,
.carbon-text:hover,
.carbon-text:focus {
  color: #fff;
  text-decoration: none;
}

.carbon-poweredby,
.carbon-poweredby:hover,
.carbon-poweredby:focus {
  color: #ddd;
  text-decoration: none;
}

@media (min-width: 768px) {  
  .carbonads {
    float: right;
    margin-bottom: -1rem;
    margin-top: -1rem;
    max-width: 360px;
  }
}

.footer {
  font-size: .875rem;
  overflow: hidden;
}

.heart {
  color: #ddd;
  display: block;
  height: 1rem;
  line-height: 2rem;
  margin-bottom: 0;
  margin-top: 1rem;
  position: relative;
  text-align: center;
  width: 100%;
}

.heart:hover {
  color: #ff4136;
}

.heart::before {
  border-top: 1px solid #eee;
  content: " ";
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
}

.heart::after {
  background-color: #fff;
  content: "♥";  
  padding-left: .5rem;
  padding-right: .5rem;
  position: relative;
  z-index: 1;
}

.container {

  /* background: #FFFFFF; */
  background: linear-gradient(50deg, #f3c680, hsla(179,54%,76%,1));
  max-width: 400px;
  margin: 30px auto;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  padding: 48px;
  /* text-align: center; */
}

.img-container,
.img-preview {
  background-color: #f7f7f7;
  text-align: center;
  width: 100%;
}

.img-container {  
  /* margin-top: 2rem;
  margin-bottom: 1rem; */
  /* margin-top: 1rem;
  margin-left: 3rem;
  /* margin-top: 1rem; */
  
  margin: 50px auto;
  /* height: 200px;
  min-height: 100px; */
  max-height: 497px;
  min-height: 200px;
}

@media (min-width: 768px) {
/* @media (min-width: 100px) { */
  .img-container {
    /* min-height: 497px;     */
    min-height: 100px;    
  }
}

.img-container > img {
  /* max-width: 100%; */
  max-width: 80%;
}

.docs-preview {
  margin-right: -1rem;
}

.img-preview {
  float: left;
  margin-top: 2rem;
  margin-bottom: .5rem;
  margin-right: .5rem;
  overflow: hidden;
}

.img-preview > img {
  max-width: 100%;
}

.preview-lg {
  height: 9rem;
  width: 16rem;
}

.preview-md {
  height: 4.5rem;
  width: 8rem;
}

.preview-sm {
  height: 2.25rem;
  width: 4rem;
}

.preview-xs {
  height: 1.125rem;
  margin-right: 0;
  width: 2rem;
}

.docs-data > .input-group {  
  margin-bottom: .5rem;
}

.docs-data .input-group-prepend .input-group-text {
  min-width: 4rem;
}

.docs-data .input-group-append .input-group-text {
  min-width: 3rem;
}
.docs-buttons{
  margin: 0;
}
.docs-buttons > .btn,
.docs-buttons > .btn-group,
.docs-buttons > .form-control {
  
  margin-bottom: .5rem;
  /* margin-right: .25rem; */
  /* margin-right: 1rem; */
  /* margin-left: 1rem; */
  /* margin: 0 auto; */
  /* width: 100px;
  height: 100px; */
}

.docs-toggles > .btn,
.docs-toggles > .btn-group,
.docs-toggles > .dropdown {
  margin-bottom: .5rem;
}

.docs-tooltip {
  display: block;  
  margin: -.5rem -.75rem;
  padding: .5rem .75rem;
  min-width: 50px;
  min-height: 50px;
}

.docs-tooltip > .icon {  
  margin: 0 -.25rem;
  vertical-align: top;
}

.tooltip-inner {
  white-space: normal;
}

.btn-upload .tooltip-inner,
.btn-toggle .tooltip-inner {
  white-space: nowrap;
}

.btn-toggle {
  padding: .5rem;
}

.btn-toggle > .docs-tooltip {
  margin: -.5rem;
  padding: .5rem;
}

@media (max-width: 400px) {
  .btn-group-crop {
    margin-right: -1rem!important;
  }

  .btn-group-crop > .btn {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .btn-group-crop .docs-tooltip {
    margin-left: -.5rem;
    margin-right: -.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.docs-options .dropdown-menu {
  width: 100%;
}

.docs-options .dropdown-menu > li {
  font-size: .875rem;
    padding: .125rem 1rem;
}

.docs-options .dropdown-menu .form-check-label {
  display: block;
}

.docs-cropped .modal-body {
  text-align: center;
}

.docs-cropped .modal-body > img,
.docs-cropped .modal-body > canvas {
  max-width: 100%;
}